#language{
  background: $backColor;
  .nav-link.active{
    background: $themeColor;
    color: white;
  }
  .nav-link{
    color: black;
  }
  .rose-1{
    width: 200px;
    height: 200px;
    background:url('~@/assets/image/redRose.jpg') no-repeat center/cover;
  }
}