#membercart{
  .b-time-header{
    margin-left: 10px;
  }
  .mx-auto{
    position: absolute;
    right:150px;
  }
  #label{
    margin-right: 5px;
    @include md {
      margin-right: 70px;
    }
    @include lg {
      margin-right: 2px;
    }
  }
  #time{
    margin-bottom: 10px;
    @include md {
      margin-bottom: 50px;
    }
  }
  .form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: gray;
  }
  // .is-invalid{
  //   display: none;
  // }
}